<% content_for :title do %>
Foodlog &ndash;on <%= DateTime.now %>
<% end %>

<div class="column mt-6 js-centered">
  <% @entries.each do |entry| %>
  <div class="column is-one-quarter">
    <div class="card">
      <div class="card-header">
        <div class="card-header-title">
          <%= entry.meal_type %>
        </div>
      </div>
      <div class="card-content">
        <div class="content">
          <div class="has-text-weight-bold">
            <%= entry.calories %>
          </div>
          <div class="has-text-weight-bold">
            <%= entry.proteins %>
          </div>
          <div class="has-text-weight-bold">
            <%= entry.fats %>
          </div>
          <div class="has-text-weight-bold">
            <%= entry.carbodhydrates %>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <%= link_to 'Show', entry, class: "card-footer-item"%>
        <%= link_to 'Edit', edit_entry_path(entry), class: "card-footer-item"%>
        <%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' }, class: "card-footer-item"%>
      </div>
    </div>
  </div>
  <% end %>
</div>